node_modules/
dist/
.vscode/
.env
.DS_Store
src/data/Film Details-20260604T182815Z-3-001/Film Details/Feature Films/Mumbai Salsa-14/poster 2.png
src/data/Film Details-20260604T182815Z-3-001/Film Details/Feature Films/Mumbai Salsa-14/poster 3.png
src/data/Film Details-20260604T182815Z-3-001/Film Details/Feature Films/United Six-12/poster.png
src/data/Film Details-20260604T182815Z-3-001/Film Details/Feature Films/United Six-12/upscalemedia-transformed.png
